*h1{
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
background-color:rgb(230, 246, 247);
}
div{
    width: 400px;
    height: 320px;
    background-color: white;
    border: 1px solid white;
    text-align: center;
    margin-left: 700px;
    margin-top: -150px;
    border-radius: 10px;
}
h1{
    margin-left: 250px;
    font-size: 20px;
    
}
#first{
    width: 30px;
    height: 40px;
    color: blue;
    margin-left: 250px;
    margin-top: 200px;
    font-size: 70px;
}

.h3{
    color: black;

}
.label{
    width: 350px;
    height: 40px;
    border-radius: 5px;
    opacity: 0.5;
}
.button{
    width: 350px;
    height: 40px;
    color: white;
    background-color: blue;
    font-size: 15px;
    border: white;
    border-radius: 5px;
}
.ul{
    width: 20px;
    height: 30px;
}
  h4{
    color: blue;
  }
  .ul{
    width: 220px;
    height: 50px;
    color:white;
    background-color: green;
    font-size: 15px;
    border: black;
    border-radius: 5px;

  }
  h5{
    color: black;
    font-size: 15px;
  }
    
  

